<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit student</title>
</head>
<body>
<h2>Fill the information about student:</h2>
<form action="/api/v1/add_student" method="POST">
    <label for="first_name">First name: </label>&nbsp;
    <input type="tel" id="first_name" name="first_name"><br><br>
    <label for="last_name">Last name: </label>&nbsp;
    <input type="tel" id="last_name" name="last_name"><br><br>
    <label for="student_group">Group: </label>&emsp;&emsp;
    <select id="student_group" name="student_group">
        <option value="BU-99">BU-99</option>
        <option value="CA-76">CA-76</option>
        <option value="ER-19">ER-19</option>
        <option value="JL-92">JL-92</option>
        <option value="LT-35">LT-35</option>
        <option value="PI-66">PI-66</option>
        <option value="UU-11">UU-11</option>
        <option value="YC-16">YC-16</option>
        <option value="YC-46">YC-46</option>
        <option value="YY-54">YY-54</option>
    </select><br><br><br>
    <button onclick="add_student()">Add student</button><br><br><br>
</form>
<h4 style="text-align:center">
    <a href="#" onclick="history.go(-1)"><<<</a>&nbsp;&nbsp;
    <a href="/static">Return to Main Page</a>&nbsp;&nbsp;
    <a href="#" onclick="history.go(+1)">>>></a>
</h4>
</body>
</html>