<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<table align="center" cellpadding="10">
    <tr align="center">
        <th width="5%">№</th>
        <th width="15%">ID студента</th>
        <th width="35%">ПІБ студента</th>
        <th width="25%">Номер групи</th>
    </tr>
</table>

<div id="table-wrapper">
    <div id="table-scroll">
        <table align="center" cellpadding="10">
            <tbody>
            <tr align="center">
                <td>
                    {% for i in number %}
                    <br>{{ i }}.
                    {% endfor %}
                </td>
                <td>
                    {% for i in id %}
                    <br><a href="{{ url_for('student', student_id=i) }}">{{ i }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for n in name %}
                    <br>{{ n }}
                    {% endfor %}
                </td>
                <td>
                    {% for g in group %}
                    <br><a href="{{ url_for('group', group_id=g) }}">{{ g }}</a>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h4 style="text-align:center">
    <a href="#" onclick="history.go(-1)"><<<</a>&nbsp;&nbsp;
    <a href="/">Return to Main Page</a>&nbsp;&nbsp;
    <a href="#" onclick="history.go(+1)">>>></a>
</h4>
</body>
</html>