<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<table align="center">
    <tr align="center">
        <th>Номер</th>
        <th>Найменування курсу</th>
        <th>Опис курсу</th>
    </tr>
    <tr align="center">
        <td >
            {% for i in id %}
            <br>{{ i }}.
            {% endfor %}
        </td>
        <td>
            {% for n in name %}
            <br><a href="{{ url_for('course', course_name=n) }}">{{ n }}</a>
            {% endfor %}
        </td>
        <td>
            {% for d in description %}
            <br>{{ d }}
            {% endfor %}
        </td>
    </tr>
</table>
<h4 style="text-align:center"><a href="/">Return to Previous Page</a></h4>
</body>
</html>