<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<table align="center">
    <tr align="center">
        <th> Номер групи </th>
        <th>   </th>
        <th> Найменування групи</th>
    </tr>
    <tr align="center">
        <td >
            {% for i in id %}
            <br>{{ i }}.
            {% endfor %}
        </td>
        <td></td>
        <td>
            {% for n in name %}
            <br><a href="{{ url_for('group', group_id=n) }}">{{ n }}</a>
            {% endfor %}
        </td>
    </tr>
</table>
<h4 style="text-align:center"><a href="/">Return to Main Page</a></h4>
</body>
</html>