<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1 style=text-align:center>
    <a href="http://www.univ.kiev.ua/ru/">
    <img src="{{ url_for('static',filename='logo.png') }}" height="150px"
                                 width="150px" alt="sites logo">
    </a>
</h1>
<h1 style=text-align:center>Shevchenko National University</h1>
<br>
<h3 style=text-align:center><a href="/groups">Groups</a></h3>
<h3 style=text-align:center><a href="/students">Students</a></h3>
<h3 style=text-align:center><a href="/courses">Courses</a></h3>
</body>
</html>