<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Queries</title>
</head>
<body>
<h2 style="text-align:center">QUERIES</h2>
<form action="/groups" method="GET" style="text-align:center">
    <label for="student_count">Find all groups with less or equals student count:</label>
    <input type="tel" id="student_count" name="student_count" size="2">
    <button onclick="myFunction()">Get</button><br><br><br>
</form>
<form action="/submit" method="GET" style="text-align:center">
    <label for="course">Find all students related to the course with a given name</label>
    <select id="course" name="course">
        <option value="Chemistry">Chemistry</option>
        <option value="English">English</option>
        <option value="Geography">Geography</option>
        <option value="History">History</option>
        <option value="Literature">Literature</option>
        <option value="Management">Management</option>
        <option value="Marketing">Marketing</option>
        <option value="Math">Math</option>
        <option value="Physics">Physics</option>
        <option value="Ukrainian">Ukrainian</option>
    </select>
    <button onclick="myFunction()">Get</button><br><br><br>
</form>
<form action="/add_student" method="POST" style="text-align:center">
    <h4 style="text-align:center">Add new student</h4>
    <label for="first_name">First name: </label>&nbsp;
    <input type="tel" id="first_name" name="first_name">&emsp;
    <label for="last_name">Last name: </label>&nbsp;
    <input type="tel" id="last_name" name="last_name">&emsp;
    <label for="student_group">Group: </label>&emsp;
    <select id="student_group" name="student_group">
        <option value="BU-99">BU-99</option>
        <option value="CA-76">CA-76</option>
        <option value="ER-19">ER-19</option>
        <option value="JL-92">JL-92</option>
        <option value="LT-35">LT-35</option>
        <option value="PI-66">PI-66</option>
        <option value="UU-11">UU-11</option>
        <option value="YC-16">YC-16</option>
        <option value="YC-46">YC-46</option>
        <option value="YY-54">YY-54</option>
    </select>&emsp;
    <button onclick="add_student()">Add student</button><br><br><br><br>
</form>
<form action="/del_student" method="POST" style="text-align:center">
    <label for="stud_id">Delete student by STUDENT_ID: </label>
    <input type="tel" id="stud_id" name="stud_id" size="2">
    <button>DEL</button><br><br><br>
</form>
<form action="/add_course" method="POST" style="text-align:center">
    <label for="s_id">Add a student&nbsp; </label>
    <input type="tel" id="s_id" name="s_id" size="2">&nbsp;
    <label for="courses">to the course (from a list) &nbsp; </label>
        <select id="courses" name="courses">
        <option value="Chemistry">Chemistry</option>
        <option value="English">English</option>
        <option value="Geography">Geography</option>
        <option value="History">History</option>
        <option value="Literature">Literature</option>
        <option value="Management">Management</option>
        <option value="Marketing">Marketing</option>
        <option value="Math">Math</option>
        <option value="Physics">Physics</option>
        <option value="Ukrainian">Ukrainian</option>
    </select>&nbsp;
    <button>Add</button><br><br><br>
</form>
<form action="/del_course" method="POST" style="text-align:center">
    <label for="s_id_del">Remove student with ID&nbsp; </label>
    <input type="tel" id="s_id_del" name="s_id_del" size="2">&nbsp;
    <label for="course_del">from the course (from a list) &nbsp; </label>
        <select id="course_del" name="course_del">
        <option value="Chemistry">Chemistry</option>
        <option value="English">English</option>
        <option value="Geography">Geography</option>
        <option value="History">History</option>
        <option value="Literature">Literature</option>
        <option value="Management">Management</option>
        <option value="Marketing">Marketing</option>
        <option value="Math">Math</option>
        <option value="Physics">Physics</option>
        <option value="Ukrainian">Ukrainian</option>
    </select>&nbsp;
    <button>Remove</button><br><br><br>
</form>
<h4 style="text-align:center"><a href="/">Return to Main Page</a></h4>
</body>
</html>