<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<table align="center">
    <tr align="center">
        <th>№</th>
        <th>ID студента</th>
        <th>ПІБ студента</th>
        <th>Номер групи</th>
    </tr>
    <tr align="center">
        <td>
            {% for i in number %}
            <br>{{ i }}.
            {% endfor %}
        </td>
        <td>
            {% for i in id %}
            <br><a href="{{ url_for('student', student_id=i) }}">{{ i }}</a>
            {% endfor %}
        </td>
        <td>
            {% for n in name %}
            <br>{{ n }}
            {% endfor %}
        </td>
        <td>
            {% for g in group %}
            <br><a href="{{ url_for('group', group_id=g) }}">{{ g }}</a>
            {% endfor %}
        </td>
    </tr>
</table>
<h4 style="text-align:center"><a href="/">Return to Previous Page</a></h4>
</body>
</html>